{{ template "header.html" .}}

<h1>Hotels</h1>

{{ range .hotels }}
<div class="card">
  <div class="card-header"></div>
  <div class="col-md-8">
    <div class="row g-0">
      <div class="col-md-2">
        <svg width="150" height="150" viewBox="0 0 150 150" fill="#bbbbdd" xmlns="http://www.w3.org/2000/svg">
          <rect x="10" y="10" width="130" height="130" />
        </svg>
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{ .Name }}</h5>
          <p class="card-text">{{ .Country }}/{{ .Destination }}</p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bookModal">Book
            Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

<!-- Modal -->
<div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ .Name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you ready to book this hotel?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>



{{ template "footer.html" .}}